*, *::before, *::after { 
    box-sizing: border-box;
  }
  h1{

   text-align: center;
  }
  
  html, body { 
    height: 100%;
    margin: 0;
    background-color: darkgray;
    font-family: sans-serif;
  }

  form{
    margin: 0.5em;
    padding: 0.5em;
 }
 span{
    margin: 5px;
    display: block;
 }
 ul{
   list-style: none;
    padding:10px;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-wrap: wrap;
 }
 .wordList{
   border: 5px solid black;
 }
strong{
   display: block;
   background-color: aliceblue;
   color: black;
}

 li{
    width: 10%;
    box-sizing: border-box;
    justify-items: left;
 }

 li:hover{
background-color: white;

 }
